<div class="container">
    <h3>Ajout d'un jeu</h3>
    <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
        <div>
            <label> Identifiant du jeu </label>
            <input type="number" name="id" formControlName="id" class="form-control" readonly>
        </div>
        <div>
            <label>Nom</label>
            <input type="text"  name="name" formControlName="name" class="form-control">
        </div>
        <div>
            <label>Prix</label>
            <input type="number" name="price" formControlName="price" class="form-control">
        </div>

        <div>
            <label> Made In </label>
            <label>
                <input type="radio" name="madeIn" value="Tunisie" formControlName="madeIn">Tunisie
            </label>
            <label>
                <input type="radio" name="madeIn" value="Autre" formControlName="madeIn">Autre
            </label>
        </div>
        <div>
            <label>Catégorie</label>
            
            <select name="selCategories" formControlName="category" class="form-select">
                @for(c of categories; track $index){
                    <option name="c" [value]="c" >{{c}}</option>
                }
            </select>
        
        </div>
        <div>
            <label>
                <input type="checkbox" name="isNew" formControlName="isNew"> Nouveau
            </label>
        </div>
        <h5>Définition des points de vente</h5>
        <div formArrayName="shops">
            @for(shop of GameShops.controls;track $index; let indice=$index){
                <div>
                    <label>Point de vente num: {{indice+1}}</label>
                    <input type="text" [formControlName]="indice">
                </div>
            }

        </div>
        <button (click)="onAddShop()" class="btn btn-sm btn-secondary">Ajouter un point de vente</button>
        <input type="submit"  value="Ajouter">
        <input type="button" value="Effacer" (click)="onResetForm()">

    </form>
</div>